<section class="pt-5 mb-5">
  <h3>Create new post</h3>
  <mwl-text-input-autocomplete-container>
    <div class="form-group">
      <textarea mwlTextInputAutocomplete placeholder="" class="form-control" rows="5" [(ngModel)]="formPost.content" [findChoices]="findChoices"
        [getChoiceLabel]="getChoiceLabel">
      </textarea>
    </div>
  </mwl-text-input-autocomplete-container>
  <button type="button" class="btn btn-primary btn-lg" (click)="createPost()">Create post</button>
</section>

<app-post-item class="card mb-3" [@enterAnimation]="{value:':enter',params:{duration:300,delay:i*200}}" *ngFor="let post of allPosts; let i = index" [post]="post" (broadcastDelete)="onDeletePost($event)"></app-post-item>
