<div class="alert alert-warning" role="alert" *ngIf="messages" [innerHTML]="messages" (click)="hideMessages()"></div>

<section class="pt-5 mb-5">
  <h3>Create new user</h3>
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="formUser.username">
    </div>
    <div class="col-sm-3 my-1">
      <div class="input-group">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="formUser.name">
      </div>
    </div>
    <div class="col-sm-3 my-1">
      <div class="input-group">
        <input type="number" class="form-control" id="phone" placeholder="Phone" name="phone" [(ngModel)]="formUser.phone">
      </div>
    </div>
    <div class="col-sm-2 my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <input type="text" class="form-control" id="role" placeholder="Role" name="role" [typeahead]="allRoles" [(ngModel)]="formUser.role">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" (click)="createUser()">Add</button>
    </div>
  </div>
</section>




<h3>All users</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Role</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUsers; let i = index">
      <th scope="row">{{user.id}}</th>
      <td>
        <span *ngIf="user.readonly">{{user.username}}</span>
        <input *ngIf="!user.readonly" type="text" [(ngModel)]="user.username">
      </td>
      <td>
        <span *ngIf="user.readonly">{{user.name}}</span>
        <input *ngIf="!user.readonly" type="text" [(ngModel)]="user.name">
      </td>
      <td>
        <span *ngIf="user.readonly">{{user.phone}}</span>
        <input *ngIf="!user.readonly" type="number" [(ngModel)]="user.phone">
      </td>
      <td>
        <span *ngIf="user.readonly">{{user.role}}</span>
        <input *ngIf="!user.readonly" type="text" [(ngModel)]="user.role" [typeahead]="allRoles">
      </td>
      <td class="text-center">
        <button *ngIf="user.readonly" class="btn btn-warning" (click)="editUser(i)">Edit</button>
        <button *ngIf="!user.readonly" class="btn btn-success" (click)="saveUser(i)">Save</button>
        <button class="btn btn-danger ml-2" (click)="deleteUser(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
