<div class="card-body">
  <h6 class="card-subtitle mb-2 text-muted">{{post.timestamp | date: 'd LLL yyyy H:m' }}</h6>
  <app-content-item class="card-text" [postContent]="post.content"></app-content-item>
  <button type="button" class="btn btn-danger btn-sm mt-3" (click)="deleteMe()">Delete</button>
</div>
